<main class="container flex-column d-flex justify-content align-items-center">
    <div class="p-5" style="max-width: 800px;">
        <div>
            <h1 class="text-center">{{title}}</h1>
            <p class="p-3">Aplicación para <b>{{title}}</b> en una base de datos en la cual se ingresarán preguntas en
                conjunto con su respuesta, todo esto con el fin de tener un modelo de 'chat inteligente' y, más
                adelante, como datos de entrenamiento para una red neuronal.</p>
        </div>
        <div class="text-center">
            <a class="btn btn-success" href="/admin/login">Iniciar sesion</a>
        </div>
    </div>
</main>